




table{
    border-collapse: collapse;
    font-family: "\5B8B\4F53", Verdana, Arial, Helvetica, sans-serif;
    
}
table tr td{
    border:1px solid #d9d9d9;
}
table tr:nth-child(1),
table tr:nth-child(2){
    font-size: 10px;
}
table tr{
    
    font-size: 10px;

}
table tr:first-child{
    background-color: #009DD9;
    color:white;
    font-weight: 600;
}



